/* General styles */
body {
  background-color: #425877;
  background-image: url('/images/bg.png');

  font-family: Arial, sans-serif;
  color: #333;
  cursor: url('/images/cursor_regular.png'), auto;
}

a:hover,
.hero-slider-control:hover,
.contact-form button:hover,
.line-button:hover,
.contact-form input:hover {
  cursor: url('/images/cursor_hover.png'), pointer;
}

h1 {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 62px;
  font-weight: 800;
  margin: 0px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 27px;
  font-weight: 800;
  margin: 0px;
  text-align: center;
  text-transform: uppercase;
}

h3,
h4,
h5,
h6 {
  font-weight: bold;
}

a {
  color: #3498db;
  text-decoration: none;
}

.forsen-logo {
  width: 15%;
  display: block;
  margin: 1rem auto;
}

.container,
.video-container,
.line-container,
footer,
.chat {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.container {
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #f5f5f5;
  transition: all 0.3s ease;
}

.video-container {
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}
.video-container > video {
  width: 100%;
}

.line-container {
  padding: 20px;
  width: unset;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  font-weight: bold;

  bottom: 1em;
  left: 1em;
}
#randomLineContainer {
  display: none;
}

/* Header */
header {
  background-color: rgba(72, 82, 104, 0.5);
  backdrop-filter: blur(5.9px);
  color: #fff;
  text-align: center;
  padding: 1.5rem 0;
  position: fixed;
  border-radius: 0 0 50px 50px;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 50;
}

header a {
  color: #fff;
  padding: 0 1rem;
}

header a:hover {
  color: #3498db;
}

/* best responsive design 2023 */
main {
  margin-top: 6rem;
}
@media screen and (max-width: 600px) {
  main {
    margin-top: 8rem;
  }
}
@media screen and (max-width: 350px) {
  main {
    margin-top: 10rem;
  }
}

/* Hero slider */
.hero-slider {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

.hero-slider picture {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
}
.hero-slider picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-slider picture.active {
  opacity: 1;
}

.hero-slider-control {
  position: absolute;
  top: 50%;
  background-color: rgba(36, 42, 45, 0.5);
  color: #fff;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  border: none;
  z-index: 10;
  transform: translateY(-50%);
  transition: background-color 0.3s;
}

.hero-slider-control:hover {
  background-color: rgba(147, 176, 208, 0.8);
}

.hero-slider-control.hero-slider-prev {
  left: 1rem;
}

.hero-slider-control.hero-slider-next {
  right: 1rem;
}

/* About page */
.about {
  padding: 2rem 0;
}

/* Social media links */
.social-links {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.social-links a {
  font-size: 2rem;
  color: #333;
  margin: 0 1rem;
}

.social-links a:hover {
  color: #3498db;
}

/* Quiz page */
.quiz {
  padding-top: 100px;
  width: 30rem;
  height: 15rem;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 30px;
}

.quiz-loader {
  color: black;
  text-shadow: 0px 0px 4px white;
  font-size: 130%;
  text-align: center;
}

.quiz-error {
  color: rgb(255, 168, 168);
  font-size: 130%;
  text-align: center;
}

.question-container {
  width: 80%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid darkgray;
  border-radius: 25px;
}

.options-container {
  width: 80%;
  height: 12rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.quiz-details-container {
  width: 80%;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.quiz-options-container {
  width: 80%;
  height: 12rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.score,
.timer {
  font-size: 24px;
  margin: 10px;
}

.question {
  font-size: 30px;
  margin: 20px;
}

.answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.answer {
  padding: 4px 0;
  margin-bottom: 0.2rem;
  background-color: transparent;
  transition: background-color 0.2s ease;
}

.answer:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  header a {
    display: block;
    padding: 0.5rem 0;
  }
}

.table-responsive {
  display: block;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table-forsen {
  border-collapse: collapse;
  width: 100%;
}

.table-forsen th,
.table-forsen td {
  border: 1px solid #cccccc;
  padding: 8px;
  text-align: left;
}

.table-forsen th {
  background-color: rgba(64, 64, 64, 0.8);
  color: #ffffff;
  font-weight: bold;
}

.table-forsen tr:nth-child(odd) {
  background-color: rgba(64, 64, 64, 0.4);
}

.line-button {
  background-color: #496078;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.line-button:hover {
  background-color: #77a2d0;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.line-button:focus {
  outline: none;
}

/* Footer Styles */
footer {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
  margin: 0px auto;
}

.socials {
  text-align: center;
}

.socials h3 {
  color: #fff;
  margin-top: 0px;
  margin-bottom: 10px;
}

.socials ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.socials li {
  display: inline-block;
  margin: 0 10px;
}

.socials a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.socials a:hover {
  color: #1da1f2;
}

.home-link {
  text-align: center;
}

.home-link a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.home-link a:hover {
  color: #1da1f2;
}

/* Navigation Styles */
nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-buttons {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-buttons li {
  margin: 0 10px;
  display: inline-block;
}

.nav-buttons a {
  color: #13294b;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 10px 20px;
  display: inline-block;
  background-color: #d8e9f7;
  border: none;
  border-radius: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.nav-buttons a:hover {
  background-color: #73b4dc;
  color: #e7f6fa;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.26), 0 5px 10px rgba(0, 0, 0, 0.33);
}

/* Style the form container */
.contact-form {
  max-width: 80%;
  margin: 0 auto;
}

/* Style the form fields */
.contact-form label {
  display: block;
  margin-bottom: 5px;
}

.contact-form input[type='text'],
.contact-form input[type='email'],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

/* Style the form submit button */
.contact-form input[type='submit'] {
  background-color: #6e76a1;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.contact-form input[type='submit']:hover {
  background-color: #8086bb;
}

/* Style the form success message */
.contact-form .success {
  color: rgb(104, 116, 168);
  font-weight: bold;
  margin-top: 15px;
}

/* Draggable elements like twitch chat */
.draggable {
  position: fixed;
  z-index: 99;
  cursor: move;
}
.draggable * {
  cursor: unset;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.active-slide {
  opacity: 1;
  z-index: 2;
}

.music-quiz {
  width: 100%;
  height: 400px;
}

.quiz-container {
  position: relative;
  height: 240px;
  margin-top: 40px;
}

.chat {
  position: fixed;
  bottom: 1em;
  right: 1em;
  width: 20%;
  height: 40%;
  padding: 1rem;
}
.chat > iframe {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .chat {
    display: none;
  }
}

/*global css file pepeLaugh*/

.animateEasterEgg img {
  animation: x 0.6s infinite alternate;
}

@keyframes x {
  25% {
    transform: translate(-20%, -8%);
  }
  50% {
    transform: translate(0%, 0%);
  }
  75% {
    transform: translate(20%, -8%);
  }
}

/* advice friend in bottom left */
#adviceFriend {
  position: fixed;
  bottom: 20%;
  left: 50%;
  width: 300px;
  max-width: 20vw;
  min-width: 150px;
  opacity: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  transition: left 0.2s ease-out, opacity 0.2s ease-out;
  pointer-events: none;
}
.flipped {
  transform: scaleX(-1);
}
.advicePopup {
  background: #ddd;
  color: rgb(36, 42, 45);
  border-color: rgb(36, 42, 45);
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  padding: 8px;
  font-size: 1rem;
  min-height: 24px;
  margin: 0 10px;
  position: relative;
}
.advicePopup::before {
  content: '';
  position: absolute;
  bottom: 12px;
  left: -24px;
  z-index: 2;
  border: 12px solid transparent;
  border-right: 12px solid rgb(36, 42, 45);
}
#adviceFriend.active {
  left: 78%;
  opacity: 1;
}
.flipped #adviceText {
  /* flip the text back */
  transform: scaleX(-1);
}
@media all and (max-width: 400px) {
  #adviceFriend img {
    width: 50px;
    height: 50px;
  }
}
@media all and (min-width: 1200px) {
  .advicePopup {
    font-size: 1.2rem;
  }
}
